<%  include partials/header  %>
</br>
<h1 style="font-family:sans-serif;color:green;background-color:white">The ultimate Movie site </h1>
<h2 style="font-family:fantacy;color:red">Search for your favorite movies </h2>

<style>

    body{
      background-image: url("http://www.100hdwallpapers.com/wallpapers/1920x1080/pirates_of_the_caribbean_movie-hd_wallpapers.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      text-align: center;
      font-family:
    }


</style>
<body>
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
<form action="/results" method="post">
<input type="text" name="name" placeholder="keyword" />
<button type="Search" >Submit</button>
</form>

</body>


<%  include partials/footer  %>
