<%  include Partials/header  %>

<h1 style="font-family:sans-serif">Here is your list</h1>
</br>
  <a class="btn btn-primary" href="/form">Back to movie search</a>
</br></br>
<style>
  li{
    list-style-type: none;
  }
  h6{
    font-family: sans-serif;
    text-align: inherit;
  }

</style>

<div class="container-fluid">
<div class="row">
<% data["Search"].forEach(function(movie){  %>


    <div class="col-md-4 col-sm-12" >
        <div class="thumbnail"><img src="<%= movie["Poster"] %>" width:100 height:100%></img>
          <li> <h6> <%= movie["Title"] %> </h6> </li>
          <li> <h6> <%= movie["Year"] %> </h6> </li>
          <li> <h6> <%= movie["Type"] %> </h6> </li>
        </div>
    </div>



<%  })  %>
</div>
</div>
